@charset "UTF-8";

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Italic";
  src: url("/fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("/fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-SemiBoldItalic";
  src: url("/fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Anton";
  src: url("/fonts/Anton-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

* > svg {
  transform-origin: 50% 50% 0;
}

body {
  font-size: 16px;
  line-height: 1.6;
  font-family: "OpenSans", sans-serif;
  color: #383838;
  position: relative;
  display: block;
  background: #FFFFFF;
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  cursor: default;
  margin: 0;
  padding-bottom: 300px;
}

.content-wrapper {
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px 20px;
  box-sizing: border-box;
}

.content-wrapper.full-width {
  max-width: 1000px;
  padding: 40px 0;
}

.content-wrapper.full-width .max-width {
  max-width: 885px;
  margin: 0 auto;
  padding: 0 20px;
}

.content-wrapper.full-width .full-width-container .copy {
  max-width: 885px;
  margin: 0 auto;
  padding: 20px;
}

.img-wrapper {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 40px;
}

.img-wrapper.full-width {
  margin: 20px 0;
}

.img-wrapper.full-width img {
  width: 100%;
}

.img-wrapper.med-width {
  margin: 20px 0;
}

.img-wrapper.med-width img {
  width: 60%;
}

@media (max-width: 768px) {
  .img-wrapper.med-width img {
    width: 100%;
  }
}

.img-wrapper img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: 40%;
}

@media (max-width: 767px) {
  body {
    padding-bottom: 560px;
  }
}

h1 {
  font-family: "Anton", sans-serif;
  font-size: 3rem;
  line-height: 1.4;
  color: #1D3557;
  margin: 0;
  letter-spacing: 1px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-family: "Anton", sans-serif;
  font-size: 2.25rem;
  line-height: 1.4;
  color: #1D3557;
  margin: 0;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  h2 {
    font-size: 1.75rem;
  }
}

h3 {
  font-family: "Anton", sans-serif;
  font-size: 1.75rem;
  line-height: 1.4;
  color: #457B9D;
  margin: 0;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  h3 {
    font-size: 1.5rem;
  }
}

h3.underbrow {
  font-family: "OpenSans-Italic", sans-serif;
  color: #383838;
}

@media (max-width: 767px) {
  h3.underbrow {
    font-size: 1.5rem;
  }
}

p {
  font-family: "OpenSans", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #383838;
  margin: 0;
}

p.underbrow {
  font-size: 1.25rem;
  font-family: "OpenSans-SemiBold", sans-serif;
  color: #383838;
}

a {
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  color: #cc0001;
  text-decoration: none;
  transition: 0.25s all ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: #E63946;
}

.darkBlue {
  color: #1D3557 !important;
}

.lightBlue {
  color: #A8DADC !important;
}

.blue {
  color: #457B9D !important;
}

.red {
  color: #cc0001 !important;
}

.center {
  text-align: center !important;
}

.bold {
  font-family: "OpenSans-Bold", sans-serif !important;
}

.bold-italic {
  font-family: "OpenSans-Bold", sans-serif !important;
  font-style: italic;
}

.semibold-italic {
  font-family: "OpenSans-SemiBoldItalic", sans-serif !important;
}

.semi-bold {
  font-family: "OpenSans-SemiBold", sans-serif !important;
}

.italic {
  font-family: "OpenSans-Italic", sans-serif !important;
}

.padding-bottom {
  padding-bottom: 20px !important;
}

.less-padding-bottom {
  padding-bottom: 10px !important;
}

.more-padding-bottom {
  padding-bottom: 40px !important;
}

.sm-line-height {
  line-height: 1.2;
}

.float-left {
  float: left;
  padding-right: 20px;
}

@media (max-width: 768px) {
  .float-left {
    float: none;
    padding-right: 0;
    padding-bottom: 20px;
    width: 100%;
    height: auto;
  }
}

nav {
  background-color: #FFFFFF;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav .mobile-nav-bar {
  display: none;
  position: relative;
}

nav .flex-nav-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: flex-end;
  align-items: flex-end;
  padding: 10px 20px 20px;
  border-bottom: 2px solid #cc0001;
}

nav .flex-nav-wrapper .logo-wrapper {
  flex: 0 0 25%;
  box-sizing: border-box;
}

nav .flex-nav-wrapper .logo-wrapper a {
  display: block;
  width: 100%;
  text-decoration: none;
}

nav .flex-nav-wrapper .logo-wrapper a img {
  height: auto;
  width: 100%;
  vertical-align: bottom;
}

nav .flex-nav-wrapper .mobile-menu-btn {
  display: none;
}

nav .flex-nav-wrapper .nav-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex: 0 0 70%;
}

nav .flex-nav-wrapper .nav-wrapper .main-nav {
  flex: 0 0 100%;
  padding-bottom: 3.5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: flex-end;
  align-items: flex-end;
}

nav .flex-nav-wrapper .nav-wrapper .main-nav a {
  display: inline-block;
  color: #383838;
  font-family: "OpenSans-Bold", sans-serif;
  border-bottom: 2px solid #FFFFFF;
  text-transform: uppercase;
}

nav .flex-nav-wrapper .nav-wrapper .main-nav a:hover {
  color: #E63946;
  border-bottom: 2px solid #E63946;
  text-decoration: none;
}

nav .flex-nav-wrapper .nav-wrapper .main-nav a.active {
  color: #cc0001;
  border-bottom: 2px solid #cc0001;
}

nav .flex-nav-wrapper .nav-wrapper .social-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  width: 100%;
  padding-bottom: 10px;
}

nav .flex-nav-wrapper .nav-wrapper .social-links a {
  text-decoration: none;
  padding: 0 5px;
}

nav .flex-nav-wrapper .nav-wrapper .social-links a:last-of-type {
  padding-right: 0;
}

nav .flex-nav-wrapper .nav-wrapper .social-links a:hover svg path {
  fill: #E63946;
}

nav .flex-nav-wrapper .nav-wrapper .social-links a.phone-link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  font-size: 1.25rem;
  color: #383838;
  transition: 0.25s all ease-in-out;
  padding-bottom: 20px;
}

nav .flex-nav-wrapper .nav-wrapper .social-links a.phone-link:hover {
  color: #E63946;
}

nav .flex-nav-wrapper .nav-wrapper .social-links a.phone-link:hover svg path {
  fill: #E63946;
}

nav .flex-nav-wrapper .nav-wrapper .social-links a.phone-link svg {
  padding-right: 5px;
}

nav .flex-nav-wrapper .nav-wrapper .social-links a.phone-link svg path {
  transition: 0.25s all ease-in-out;
  fill: #383838;
}

@media (max-width: 767px) {
  nav .mobile-nav-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
  }

  nav .mobile-nav-bar .logo-wrapper {
    flex: 0 0 80%;
    box-sizing: border-box;
  }

  nav .mobile-nav-bar .logo-wrapper a {
    display: block;
    width: 100%;
    text-decoration: none;
  }

  nav .mobile-nav-bar .logo-wrapper a img {
    height: auto;
    width: 100%;
    vertical-align: bottom;
    max-width: 183px;
  }

  nav .mobile-nav-bar .mobile-menu-btn {
    display: block;
    height: 30px;
    width: 30px;
    align-self: center;
  }

  nav .mobile-nav-bar .mobile-menu-btn img.hidden {
    display: none;
  }

  nav .flex-nav-wrapper {
    padding: 0;
  }

  nav .flex-nav-wrapper .nav-wrapper {
    position: fixed;
    bottom: 100%;
    width: 100%;
    z-index: 80;
    transition: all 0.75s ease;
    overflow-y: scroll;
    box-sizing: border-box;
  }

  nav .flex-nav-wrapper .nav-wrapper .social-links {
    order: 2;
    justify-content: flex-start;
  }

  nav .flex-nav-wrapper .nav-wrapper .social-links a.phone-link {
    justify-content: flex-start;
    font-size: 1.75rem;
    color: #FFFFFF;
  }

  nav .flex-nav-wrapper .nav-wrapper .social-links a.phone-link:hover {
    color: #FFFFFF;
  }

  nav .flex-nav-wrapper .nav-wrapper .social-links a.phone-link:hover svg path {
    fill: #FFFFFF;
  }

  nav .flex-nav-wrapper .nav-wrapper .social-links a.phone-link svg path {
    fill: #FFFFFF;
  }

  nav .flex-nav-wrapper .nav-wrapper .main-nav {
    order: 1;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    padding-bottom: 20px;
    box-sizing: border-box;
  }

  nav .flex-nav-wrapper .nav-wrapper .main-nav a {
    color: #FFFFFF;
    font-size: 1.75rem;
    line-height: 1.75;
    flex: 0 0 100%;
    text-align: left;
    padding: 5px 0;
    box-sizing: border-box;
    border-bottom: none;
    text-transform: uppercase;
  }

  nav .flex-nav-wrapper .nav-wrapper .main-nav a.active {
    color: #1D3557;
    border-bottom: none;
  }

  nav .flex-nav-wrapper .logo-wrapper {
    display: none;
  }

  .mobile-nav-showing {
    overflow: hidden;
  }

  .mobile-nav-showing nav .mobile-nav-bar .mobile-menu-btn img.close-nav {
    display: block;
  }

  .mobile-nav-showing nav .mobile-nav-bar .mobile-menu-btn img.open-nav {
    display: none;
  }

  .mobile-nav-showing nav .flex-nav-wrapper .nav-wrapper {
    height: 100%;
    transform: translateY(100%);
    background-color: #E63946;
    padding: 150px 20px 30px;
  }
}

footer {
  background: #f6f4f4;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 20px 10px;
  box-sizing: border-box;
}

footer .flex-footer-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

footer .flex-footer-wrapper .copy-wrapper .links-wrapper {
  padding-bottom: 20px;
}

footer .flex-footer-wrapper .copy-wrapper .links-wrapper a {
  font-size: 1rem;
  line-height: 1.2;
  color: #383838;
  border-bottom: 1px solid #383838;
  display: inline-block;
  text-transform: uppercase;
  transition: 0.25s all ease-in-out;
}

footer .flex-footer-wrapper .copy-wrapper .links-wrapper a.active {
  color: #cc0001;
  border-bottom: 1px solid #cc0001;
  font-family: "OpenSans-Bold", sans-serif;
}

footer .flex-footer-wrapper .copy-wrapper .links-wrapper a:hover {
  text-decoration: none;
  color: #cc0001;
  border-bottom: 1px solid #cc0001;
}

footer .flex-footer-wrapper .copy-wrapper .links-wrapper .link-break {
  color: #1D3557;
  padding: 0 5px;
  display: inline-block;
}

footer .flex-footer-wrapper .copy-wrapper a svg path {
  transition: 0.25s all ease-in-out;
}

footer .flex-footer-wrapper .copy-wrapper a:hover svg path {
  fill: #cc0001;
}

footer .flex-footer-wrapper .copy-wrapper p {
  color: #383838;
  font-size: 1rem;
  line-height: 1.4;
  padding-bottom: 20px;
  margin: 0;
}

footer .flex-footer-wrapper .copy-wrapper p:last-of-type {
  padding-bottom: 0;
}

footer .flex-footer-wrapper .copy-wrapper p.no-padding-bottom {
  padding-bottom: 0;
}

footer .flex-footer-wrapper .copy-wrapper p.padding-top {
  padding-top: 10px;
}

footer .flex-footer-wrapper .copy-wrapper p a {
  font-size: 1rem;
  line-height: 1.2;
  color: #383838;
  border-bottom: 1px solid #383838;
  display: inline-block;
  font-family: "OpenSans", sans-serif;
}

footer .flex-footer-wrapper .copy-wrapper p a.footer-link {
  color: #383838;
  border-bottom: none;
}

footer .flex-footer-wrapper .logo-wrapper {
  flex: 0 0 200px;
  max-width: 200px;
  box-sizing: border-box;
}

footer .flex-footer-wrapper .logo-wrapper a {
  box-sizing: border-box;
  display: block;
}

footer .flex-footer-wrapper .logo-wrapper a.home-link {
  padding-bottom: 20px;
}

footer .flex-footer-wrapper .logo-wrapper a img {
  width: 100%;
  height: auto;
}

footer .dev-signoff {
  width: 100%;
  display: block;
}

footer .dev-signoff p {
  padding: 30px 0 0;
  margin: 0;
  text-align: center;
  color: #383838;
  font-size: 0.75rem;
  line-height: 1.2;
}

footer .dev-signoff p a {
  color: #383838;
  text-decoration: underline;
  transition: 0.25s all ease-in-out;
  font-size: 0.65rem;
  line-height: 1.2;
}

footer .dev-signoff p a:hover {
  color: #383838;
}

@media (max-width: 767px) {
  footer .flex-footer-wrapper {
    max-width: 100%;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
  }

  footer .flex-footer-wrapper .copy-wrapper {
    flex: 0 0 100%;
    order: 2;
    text-align: center;
  }

  footer .flex-footer-wrapper .copy-wrapper .links-wrapper {
    padding-top: 20px;
  }

  footer .flex-footer-wrapper .copy-wrapper .links-wrapper a {
    text-align: center;
    display: block;
    border-bottom: none;
    text-decoration: underline;
    padding-bottom: 10px;
    font-size: 0.85rem;
  }

  footer .flex-footer-wrapper .copy-wrapper .links-wrapper a.active {
    border-bottom: none;
    text-decoration: underline;
  }

  footer .flex-footer-wrapper .copy-wrapper .links-wrapper .link-break {
    display: none;
  }

  footer .flex-footer-wrapper .copy-wrapper p {
    font-size: 0.65rem;
    text-align: center;
  }

  footer .flex-footer-wrapper .copy-wrapper p:last-of-type {
    padding-bottom: 0;
  }

  footer .flex-footer-wrapper .copy-wrapper p a {
    font-size: 0.65rem;
  }

  footer .flex-footer-wrapper .logo-wrapper {
    order: 1;
    flex: 0 0 100%;
    max-width: 100%;
  }

  footer .flex-footer-wrapper .logo-wrapper a {
    max-width: 200px;
    margin: 0 auto;
  }

  footer .dev-signoff p {
    padding: 20px 0 0;
    font-size: 0.55rem;
  }

  footer .dev-signoff p a {
    font-size: 0.55rem;
  }
}

.hero {
  padding-bottom: 40px;
}

.hero.home-hero {
  padding: 40px 0;
  background-image: url("/img/licensed-house1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  margin-bottom: 40px;
}

.hero.home-hero h3 {
  flex: 0 0 100%;
  line-height: 1.1;
  color: #FFFFFF;
}

.hero.home-hero h1 {
  flex: 0 0 100%;
  line-height: 1.1;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .hero.home-hero {
    padding: 10px 0;
    height: 300px;
  }
}

.call-out-wrapper {
  width: 65%;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.call-out-wrapper.sm-wrapper {
  width: 50%;
}

.call-out-wrapper.full-width {
  width: 100%;
  padding-bottom: 20px;
}

.call-out-wrapper p {
  font-family: "OpenSans-Italic", sans-serif;
  color: #383838;
  text-align: center;
}

.call-out-wrapper p.lg-font {
  font-size: 18px;
  padding: 0 20px;
}

.call-out-wrapper .flex-list-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5px 20px 20px;
}

.call-out-wrapper .flex-list-wrapper.three-col .flex-list-item {
  flex: 0 0 32%;
}

.call-out-wrapper .flex-list-wrapper.two-col {
  padding: 5px 20px 0;
}

.call-out-wrapper .flex-list-wrapper.two-col .flex-list-item {
  flex: 0 0 49%;
}

.call-out-wrapper .flex-list-wrapper .flex-list-item {
  display: table-cell;
  text-align: left;
}

.call-out-wrapper .flex-list-wrapper .flex-list-item:before {
  content: "\2022";
  font-size: 18px;
  line-height: 1;
  vertical-align: middle;
  margin-right: 10px;
}

.cta-wrapper {
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
  box-sizing: border-box;
}

.cta-wrapper .flex-wrapper {
  max-width: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .cta-wrapper .flex-wrapper {
    width: 100%;
  }
}

.cta-wrapper .flex-wrapper p.headline {
  font-family: "Anton", sans-serif;
  color: #1D3557;
  font-size: 2rem;
  letter-spacing: 1px;
  text-align: center;
  flex: 0 0 100%;
  padding-bottom: 10px;
}

@media (max-width: 767px) {
  .cta-wrapper .flex-wrapper p.headline {
    font-size: 1.5rem;
  }
}

.cta-wrapper .flex-wrapper .btn-wrapper {
  padding: 0;
  text-align: center;
  flex: 0 0 100%;
}

.cta-wrapper .flex-wrapper .btn-wrapper a {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: 20px auto 10px;
  padding: 15px 30px;
  border: none;
  width: auto;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: #cc0001;
  box-shadow: 2px 4px 0 0 #E63946;
  transition: box-shadow 0.1s;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.25rem;
  font-family: "OpenSans-Bold", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.cta-wrapper .flex-wrapper .btn-wrapper a:hover {
  box-shadow: inset 4px 4px 0 0 #cc0001;
  transform: translateY(4px) translateX(2px);
  text-decoration: none;
}

@media (max-width: 767px) {
  .call-out-wrapper {
    width: 85%;
  }

  .call-out-wrapper.sm-wrapper {
    width: 75%;
  }
}

@media (max-width: 550px) {
  .call-out-wrapper {
    width: 100%;
  }

  .call-out-wrapper.sm-wrapper {
    width: 100%;
  }

  .call-out-wrapper .flex-list-wrapper.three-col .flex-list-item {
    flex: 0 0 100%;
  }

  .call-out-wrapper .flex-list-wrapper.two-col .flex-list-item {
    flex: 0 0 100%;
  }

  .call-out-wrapper .flex-list-wrapper .flex-list-item {
    text-align: center;
  }

  .call-out-wrapper .flex-list-wrapper .flex-list-item:before {
    content: none;
  }
}

input {
  font-family: "OpenSans", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
}

input:focus {
  outline-offset: 2px;
  outline: #bdbdbd auto 5px;
}

input[type=text] {
  font-size: 1rem;
  line-height: 1.2;
}

select {
  font-size: 1rem;
  line-height: 1.2;
  font-family: "OpenSans", sans-serif;
}

.contact.form-complete .form-wrapper {
  display: none;
}

.contact .form-wrapper {
  box-sizing: border-box;
}

.contact .form-wrapper form span {
  display: block;
  width: 100%;
}

.contact .form-wrapper form .row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  padding: 0 0 40px;
}

.contact .form-wrapper form .row.show-error {
  padding: 0 0 10px;
}

.contact .form-wrapper form .row.show-error label.blank-error span.error-msg {
  display: block;
}

.contact .form-wrapper form .row.show-error label.blank-error input[type=text],
.contact .form-wrapper form .row.show-error label.blank-error select {
  border: 2px solid #cc0001;
}

.contact .form-wrapper form .row.show-error label.show-invalid span.error-invalid {
  display: block;
}

.contact .form-wrapper form .row.show-error label.show-invalid input[type=text],
.contact .form-wrapper form .row.show-error label.show-invalid select {
  border: 2px solid #cc0001;
}

.contact .form-wrapper form .row.wrapped-row {
  flex-flow: row wrap;
  justify-content: flex-start;
}

.contact .form-wrapper form .row.wrapped-row p {
  flex: 0 0 100%;
  padding-bottom: 10px;
}

.contact .form-wrapper form .row.wrapped-row label {
  padding-right: 20px;
}

.contact .form-wrapper form .row.wrapped-row label input[type=checkbox] {
  border: 1px solid #383838;
  border-radius: 0;
  height: 15px;
  width: 15px;
  margin: 0 5px 0 0;
  box-sizing: border-box;
}

.contact .form-wrapper form .row span.error-msg,
.contact .form-wrapper form .row span.error-invalid {
  padding: 5px 0 7px;
  display: none;
}

.contact .form-wrapper form .row label.half-width {
  flex: 0 0 49%;
}

.contact .form-wrapper form .row label.full-width {
  flex: 0 0 100%;
}

.contact .form-wrapper form .row label.fourth-width {
  flex: 0 0 24%;
}

.contact .form-wrapper form .row label.email-label {
  flex: 0 0 74%;
}

.contact .form-wrapper form .row label input[type=text],
.contact .form-wrapper form .row label textarea {
  border: 1px solid #383838;
  display: block;
  height: 40px;
  width: 100%;
  margin: 5px 0 0;
  padding-left: 7px;
  box-sizing: border-box;
}

.contact .form-wrapper form .row label textarea {
  height: 120px;
}

.contact .form-wrapper form .row label select {
  border: 1px solid #383838;
  height: 40px;
  width: 100%;
  margin: 5px 0 0;
  padding-left: 7px;
  box-sizing: border-box;
  background: url("/img/dropdown.png");
  background-size: contain;
  background-position: 100% 0;
  background-repeat: no-repeat;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.contact .form-wrapper form .row label select::-ms-expand {
  display: none;
}

.contact .form-wrapper form .row label p {
  display: block;
}

.contact .form-wrapper form .btn-wrapper {
  text-align: center;
  flex: 0 0 100%;
  padding: 0 0 20px;
}

.contact .form-wrapper form .btn-wrapper a {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 15px 30px;
  border: none;
  width: auto;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: #cc0001;
  box-shadow: 2px 4px 0 0 #E63946;
  transition: box-shadow 0.1s;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.25rem;
  font-family: "OpenSans-Bold", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contact .form-wrapper form .btn-wrapper a:hover {
  box-shadow: inset 4px 4px 0 0 #cc0001;
  transform: translateY(4px) translateX(2px);
  text-decoration: none;
}

.contact .thank-you-wrapper {
  display: none;
  padding: 0 0 100px;
}

.contact .thank-you-wrapper p {
  font-size: 1.25rem;
}

.contact .thank-you-wrapper.show {
  display: block;
}

@media (max-width: 767px) {
  .contact .form-wrapper form .row {
    flex-flow: row wrap;
  }

  .contact .form-wrapper form .row label.half-width {
    flex: 0 0 100%;
  }

  .contact .form-wrapper form .row label.full-width {
    flex: 0 0 100%;
  }

  .contact .form-wrapper form .row label.fourth-width {
    flex: 0 0 100%;
  }

  .contact .form-wrapper form .row label.email-label {
    flex: 0 0 100%;
  }

  .contact .form-wrapper form .row label:first-of-type {
    padding-bottom: 40px;
  }

  .contact .form-wrapper form .row label.state-label {
    padding-bottom: 40px;
  }

  .contact .form-wrapper form .row label.checkbox-wrapper,
  .contact .form-wrapper form .row label.message-label,
  .contact .form-wrapper form .row label.referral-label,
  .contact .form-wrapper form .row label.address-label {
    padding-bottom: 0;
  }
}

@media (max-width: 600px) {
  .contact .form-wrapper form .btn-wrapper {
    text-align: left;
  }

  .contact .form-wrapper form .btn-wrapper a {
    padding: 15px 100px;
  }
}

ul {
  margin: 0;
  padding: 20px 0;
  list-style: none;
  display: table;
}

ul li {
  padding: 0 0 10px;
  display: table;
  box-sizing: border-box;
}

ul li:before {
  content: "\2022";
  display: table-cell;
  vertical-align: top;
  font-size: 1.25rem;
  line-height: 1;
  color: #457B9D;
  padding: 0 10px 0 0;
}

ul.check-mark-list li:before {
  content: url("/img/check.svg");
  height: 20px;
  width: 20px;
  max-width: 20px;
  max-height: 20px;
  padding: 3px 10px 0 0;
}

.copy-wrapper.blue-bg {
  background-color: #457B9D;
  width: 100%;
  padding: 20px 0;
  margin-bottom: 20px;
}

.copy-wrapper.blue-bg p {
  color: #FFFFFF;
}

.copy-wrapper.blue-bg p.headline {
  font-size: 1.75rem;
  font-family: "OpenSans-Bold", sans-serif;
  text-align: center;
}

.copy-wrapper.blue-bg h2,
.copy-wrapper.blue-bg h3 {
  color: white;
}

