* > svg {
    transform-origin: 50% 50% 0;
}
body {
    font-size: 16px;
    line-height: 1.6;
    font-family: $regular;
    color: $darkGrey;
    position: relative;
    display: block;
    background: $white;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    cursor: default;
    margin: 0;
    padding-bottom: 300px;
}
.content-wrapper {
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px 20px;
    box-sizing: border-box;
    &.full-width {
        max-width: 1000px;
        padding: 40px 0;
        .max-width {
            max-width: 885px;
            margin: 0 auto;
            padding: 0 20px;
        }
        .full-width-container {
            .copy {
                max-width: 885px;
                margin: 0 auto;
                padding: 20px;
            }
        }
    }
}

.img-wrapper {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 40px;
    &.full-width {
        margin: 20px 0;
        img {
            width: 100%;
        }
    }
    &.med-width {
        margin: 20px 0;
        img {
            width: 60%;
        }
        @media(max-width: 768px) {
            img {
                width: 100%;
            }
        }
    }
    img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: 40%;
    }
}

@media(max-width: $mobile) {
    body {
        padding-bottom: 560px;
    }
}
