* > svg {
    transform-origin: 50% 50% 0;
}
body {
    line-height: 1.4;
    font-family: $regular;
    color: $darkGrey;
    position: relative;
    display: block;
    background: $white;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    cursor: default;
    margin: 0;
    padding-bottom: 200px;
}
.content-wrapper {
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px 20px;
    box-sizing: border-box;
}

@media(max-width: $mobile) {
    body {
        padding-bottom: 450px;
    }
}
