.hero {
    padding-bottom: 40px;
    &.home-hero {
        padding: 40px 0;
        background-image: url("/img/licensed-house1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 500px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-end;
        align-content: flex-end;
        margin-bottom: 40px;
        h3 {
            flex: 0 0 100%;
            line-height: 1.1;
            color: $white;
        }
        h1 {
            flex: 0 0 100%;
            line-height: 1.1;
            color: $white;
        }
    }
}

@media(max-width: $mobile){
    .hero {
        &.home-hero {
            padding: 10px 0;
            height: 300px;
        }
    }
}
