h1 {
    font-family: $header;
    font-size: 3rem;
    line-height: 1.4;
    color: $darkBlue;
}
h2 {
    font-family: $header;
    font-size: 2.25rem;
    line-height: 1.4;
    color: $darkBlue;
}
h3 {
    font-family: $header;
    font-size: 1.5rem;
    line-height: 1.4;
    color: $darkBlue;
}

p {
    font-family: $regular;
    font-size: 1rem;
    line-height: 1.4;
    color: $darkGrey;
}

a {
    font-family: $semiBold;
    font-size: 1rem;
    line-height: 1.4;
    color: $red;
    text-decoration: none;
    transition: 0.25s all ease-in-out;
    &:hover {
        text-decoration: underline;
        color: $redHover;
    }
}
