//COLORS
$red: #E63946;
$lightGrey: #F1FAEEE;
$lightBlue: #A8DADC;
$blue: #457B9D;
$darkBlue: #1D3557;
$darkGrey: #383838;
$white: #FFFFFF;
$black: #000000;

// FONTS
$regular: 'OpenSans', sans-serif;
$italic: 'OpenSans-Italic', sans-serif;
$semiBold: 'OpenSans-SemiBold', sans-serif;
$semiBoldItalic: 'OpenSans-SemiBoldItalic', sans-serif;
$bold: 'OpenSans-Bold', sans-serif;
$header: 'Anton', sans-serif;
