//COLORS
$redHover: #E63946;
$red: #cc0001;
$lightGrey: #bdbdbd;
$lightestGrey: #f6f4f4;
$lightBlue: #A8DADC;
$blue: #457B9D;
$darkBlue: #1D3557;
$darkGrey: #383838;
$white: #FFFFFF;
$black: #000000;

// FONTS
$regular: 'OpenSans', sans-serif;
$italic: 'OpenSans-Italic', sans-serif;
$semiBold: 'OpenSans-SemiBold', sans-serif;
$semiBoldItalic: 'OpenSans-SemiBoldItalic', sans-serif;
$bold: 'OpenSans-Bold', sans-serif;
$header: 'Anton', sans-serif;

// SCREEN SIZES
$mobile: 767px;
$tablet: 1024px;
