.call-out-wrapper {
    width: 65%;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    &.sm-wrapper {
        width: 50%;
    }
    &.full-width {
        width: 100%;
        padding-bottom: 20px;
    }
    p {
        font-family: $italic;
        color: $darkGrey;
        text-align: center;
        &.lg-font {
            font-size: 18px;
            padding: 0 20px;
        }
    }
    .flex-list-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        padding: 5px 20px 20px;
        &.three-col {
            .flex-list-item {
                flex: 0 0 32%;
            }
        }
        &.two-col {
            padding: 5px 20px 0;
            .flex-list-item {
                flex: 0 0 49%;
            }
        }
        .flex-list-item {
            display: table-cell;
            text-align: left;
            &:before {
                content:"•";
                font-size: 18px;
                line-height: 1;
                vertical-align: middle;
                margin-right: 10px;
            }
        }
    }
}
.cta-wrapper {
    width: 100%;
    padding: 0 20px;
    margin-top: 20px;
    box-sizing: border-box;
    .flex-wrapper {
        max-width: 100%;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
        @media(max-width: $mobile){
            width: 100%;
        }
        p {
            &.headline {
                font-family: $header;
                color: $darkBlue;
                font-size: 2rem;
                letter-spacing: 1px;
                text-align: center;
                flex: 0 0 100%;
                padding-bottom: 10px;
                @media(max-width: $mobile){
                    font-size: 1.5rem;
                }
            }
        }
        .btn-wrapper {
            padding: 0;
            text-align: center;
            flex: 0 0 100%;
            a {
                display: inline-flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-content: center;
                align-items: center;
                margin: 20px auto 10px;
                padding:  15px 30px;
                border: none;
                width: auto;
                box-sizing: border-box;
                cursor: pointer;
                position: relative;
                overflow: hidden;
                background: $red;
                box-shadow: 2px 4px 0 0 $redHover;
                transition: box-shadow .1s;
                text-decoration: none;
                color: $white;
                font-size: 1.25rem;
                font-family: $bold;
                letter-spacing: 1px;
                text-transform: uppercase;
                &:hover {
                    box-shadow: inset 4px 4px 0 0 $red;
                    transform: translateY(4px) translateX(2px);
                    text-decoration: none;
                }
            }
        }
    }
}

@media(max-width: $mobile){
    .call-out-wrapper {
        width: 85%;
        &.sm-wrapper {
            width: 75%;
        }
    }
}

@media(max-width: 550px){
    .call-out-wrapper {
        width: 100%;
        &.sm-wrapper {
            width: 100%;
        }
        .flex-list-wrapper {
            &.three-col {
                .flex-list-item {
                    flex: 0 0 100%;
                }
            }
            &.two-col {
                .flex-list-item {
                    flex: 0 0 100%;
                }
            }
            .flex-list-item {
                text-align: center;
                &:before {
                    content: none;
                }
            }
        }
    }
}
